<!---header section--->
<header>
    <a href="#" class="logo">Punto<span>Sabroso</span></a>

    <ul class="navbar">
        <li><a href="#home" class="underline">Inicio</a></li>
        <li><a href="#menu" class="underline">Menú</a></li>
        <li><a href="#about" class="underline">Nosotros</a></li>
        <li><a href="#contactform" class="underline">Contacto</a></li>

    </ul>
    <div class="h-icons">
        <a href="#search"><i class="bx bx-search" id="search-icon"></i></a>
        <a href="#carrito"><i class='bx bx-cart'></i></a>
        <div class="bx bx-menu" id="menu-icon"></div>
    </div>
</header>
<!---home section--->

<!---search form-->
<form action="" id="search-form">
    <input type="search" name="search" id="search-box" placeholder="Buscar" >
    <label for="search-box" class="bx bx-search"></label>
    <i class='bx bx-x' id="close"></i>
</form>