<!---menu section--->
<section class="menu" id="menu">
    <div class="main-text">
        <h2>Menú del día</h2>
        <p>Sírvase a elegir nuestro menú del día</p>
    </div>

    <div class="menu-content">
        <div class="row">
            <img [src]="imagenM1" alt="">
            <div class="menu-text">
                <div class="menu-left">
                    <h4>Sushi</h4>
                </div>
                <div class="menu-right">
                    <h5>S/.35</h5>
                </div>
            </div>
            <p>Disfruta de nuestra especialidad de sushi, cuidadosamente elaborada con los ingredientes más frescos y de alta calidad.</p>
            <div class="star">
                <a href="#"><i class='bx bxs-star'></i></a>
                <a href="#"><i class='bx bxs-star'></i></a>
                <a href="#"><i class='bx bxs-star'></i></a>
                <a href="#"><i class='bx bxs-star'></i></a>
            </div>
        </div>

        <div class="row">
            <img [src]="imagenM2" alt="">
            <div class="menu-text">
                <div class="menu-left">
                    <h4>Poke Bowl</h4>
                </div>
                <div class="menu-right">
                    <h5>S/.35</h5>
                </div>
            </div>
            <p>Disfruta de este plato tradicional de la cocina hawaiana que ha ganado popularidad en todo el mundo. </p>
            <div class="star">
                <a href="#"><i class='bx bxs-star'></i></a>
                <a href="#"><i class='bx bxs-star'></i></a>
                <a href="#"><i class='bx bxs-star'></i></a>
                <a href="#"><i class='bx bxs-star'></i></a>
            </div>
        </div>

        <div class="row">
            <img [src]="imagenM3" alt="">
            <div class="menu-text">
                <div class="menu-left">
                    <h4>Red Pepper</h4>
                </div>
                <div class="menu-right">
                    <h5>S/.25</h5>
                </div>
            </div>
            <p>Disfruta esta salsa que se destaca por su vibrante color rojo y su sabor lleno de sabor.</p>
            <div class="star">
                <a href="#"><i class='bx bxs-star'></i></a>
                <a href="#"><i class='bx bxs-star'></i></a>
                <a href="#"><i class='bx bxs-star'></i></a>
                <a href="#"><i class='bx bxs-star'></i></a>
                <a href="#"><i class='bx bxs-star'></i></a>
            </div>
        </div>

        <div class="row">
            <img [src]="imagenM4" alt="">
            <div class="menu-text">
                <div class="menu-left">
                    <h4>Sushi Bowl</h4>
                </div>
                <div class="menu-right">
                    <h5>S/.18</h5>
                </div>
            </div>
            <p>Este delicioso plato proporciona una forma totalmente diferente de comer el sushi, pruebalo ya!</p>
            <div class="star">
                <a href="#"><i class='bx bxs-star'></i></a>
                <a href="#"><i class='bx bxs-star'></i></a>
                <a href="#"><i class='bx bxs-star'></i></a>
            </div>
        </div>

    </div>
</section>