<!---about section--->
<section class="about" id="about">
    <div class="about-img">
        <img [src]="imagenNosotros" alt="">
    </div>

    <div class="about-text">
        <h2>Nosotros</h2>
        <p>Bienvenidos a PuntoSabroso, un lugar donde te invitamos a descubrir la riqueza y autenticidad 
            de la cocina peruana. Nos apasiona llevar a nuestros 
            comensales en un viaje culinario hacia los sabores vibrantes y las tradiciones gastronómicas de Perú.
            Nuestra historia comenzó hace 20 años, cuando un grupo de amantes de la comida peruana 
            se unió para compartir su pasión con el mundo. Desde entonces, nos hemos esforzado por ofrecer una experiencia culinaria excepcional que refleje la diversidad y la excelencia de la cocina peruana.
            En PuntoSabroso, nos enorgullece mantener los valores que nos han guiado desde nuestros inicios. 
            </p>
        <a href="#" class="btn">Leer más...</a>
    </div>
</section>
<!---about section--->
