<!---home section--->
<section class="home" id="home">
    <div class="home-text">
        <h1><span>Bienvenidos </span>A<br>Punto<span>Sabroso</span></h1>
        <p>¡Descubre una experiencia gastronómica única!<br>
            En Punto Sabroso, te invitamos a deleitarte con nuestros exquisitos
            platos preparados con los ingredientes más frescos y sabrosos.</p>
        <p>¡Ven y únete a nosotros en un viaje culinario inolvidable!</p>
        <a href="#" class="btn">Reservar mesa</a>
    </div>

    <div class="home-img">
        <img [src]="imagenInicio" alt="">
    </div>
</section>