<!---footer section--->
<footer>
	<section class="contact" id="contact">
		<div class="main-contact">
			<div class="contact-content">
				<h4>Dirección</h4>
				<li><a href="#">Calle, 12</a></li>
				<li><a href="#">Población - 1000</a></li>
				<li><a href="#">Movil: (+51) 600 00 00 00</a></li>
				<li><a href="#">Email: puntosabroso@hotmail.com</a></li>
			</div>
			<div class="contact-content">
				<h4>Información</h4>
				<li><a href="#home">Inicio</a></li>
				<li><a href="#menu">Menú</a></li>
				<li><a href="#about">Nosotros</a></li>
				<li><a href="#contactform">Contacto</a></li>
			</div>

			<div class="contact-content">
				<h4>Siguenos en</h4>
				<li><a href="#home">Facebook</a></li>
				<li><a href="#about">Instagram</a></li>
				<li><a href="#menu">TikTok</a></li>
			</div>

			<div class="contact-content">
				<h4>Contacto</h4>
				<li><a href="#home">Contáctanos</a></li>
				<li><a href="#contactform">Faq</a></li>
			</div>

		</div>
	</section>
</footer>
<!---scroll top--->
<a href="#home" class="scroll-top">
	<i class='bx bx-up-arrow-alt'></i>
</a>