	<!---container section--->
	<section class="container">
		<div class="main-text">
			<h2>Desayunos</h2>
			<p>8:00 am - 11:00 am</p>
		</div>

		<div class="container-box">
			<div class="c-mainbx">
				<div class="container-img">
					<img [src]="imagenB1" alt="">
				</div>
				<div class="container-text">
					<p>Comida sabrosa y fresca</p>
				</div>
			</div>

			<div class="c-mainbx">
				<div class="container-img">
					<img [src]="imagenB2" alt="">
				</div>
				<div class="container-text">
					<p>Bebidas calientes</p>
				</div>
			</div>

			<div class="c-mainbx">
				<div class="container-img">
					<img [src]="imagenB3" alt="">
				</div>
				<div class="container-text">
					<p>Cenas</p>
				</div>
			</div>

			<div class="c-mainbx">
				<div class="container-img">
					<img [src]="imagenB4" alt="">
				</div>
				<div class="container-text">
					<p>Frutas</p>
				</div>
			</div>

			<div class="c-mainbx">
				<div class="container-img">
					<img [src]="imagenB5" alt="">
				</div>
				<div class="container-text">
					<p>Postres</p>
				</div>
			</div>

			<div class="c-mainbx">
				<div class="container-img">
					<img [src]="imagenB6" alt="">
				</div>
				<div class="container-text">
					<p>Express</p>
				</div>
			</div>
		</div>
	</section>